.chat-input-box {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 1rem;
}

.chat-input-box input,
.chat-input-box button {
  font-size: inherit;
  line-height: normal;
  padding: 0.5rem;
}

.chat-input-box input {
  flex: 1;
}

.chat-input-box button {
  width: 100px;
}
