.events-list {
  display: flex;
 width: 90%;
 height: auto;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.events-list li {
  list-style-type: none;
}

.event-list-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.add-event, .show-map-btn {
  margin: 0;
  width: auto; 
  background-color: var( --light-medium-purple);
  color: var(--mainWhite);
  border: none;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

.add-event:hover, .show-map-btn:hover {
  background-color: var(--darkBlue); 
}

.buttonSection {
  margin: 15px auto; 
  width: 80%; 
  height: 10%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

@media (max-width: 768px) {
  .buttonSection {
    flex-direction: column; 
    gap: 10px; 
  }
}

@media (max-width: 768px) {
  .events-list {
    padding: 0;
  }
}
